body {
    background: white;
    margin: 0px;
}
/* Header styles*/
.header-container {
    background: blanchedalmond;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    height: 42px;
    align-items: center;
}

.logo{
    margin-left: 20px;
    font-size: 25px;
}

.header-item {
    width: 100%;
    height: 100%;
    line-height: 42px;
    text-align: center;
    border-radius: 25px;

}

.header-item:hover {
    cursor:pointer;
    background: springgreen;
}

.header-container > a {
    text-decoration: none;
    color: black;
}

/*Content styles*/
.content {
    margin: 10px;
}

p {
    text-align: center;
}

/*About styles*/

#about {

}
.about-item{
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.about-text{
    text-align: justify;
    margin: 10px;
}

.about-photo > img {
    width: 100%;

}

/*Feature styles*/
.feature-item{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.feature-photo > img {
    width: 100%;
}
/*Subscribe styles*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/*Footer styles*/

.footer-container {
    background: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 42px;
    align-items: center;
}

.footer-container > a {
    text-decoration: none;
    color: black;
}

.footer-item {
    text-align: center;
    border-radius: 25px;
}

.footer-item1 {
    text-align: center;
}

.footer-item:hover {
    cursor:pointer;
    background: springgreen;
}

.footer-item > a {
    text-decoration: none;
    color: black;



